@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
html {
  color-scheme: dark;
}
body {
  background-color: #0d2235;
  min-width: 320px;
}
img {
  max-width: 100%;
}
